{% extends "base.html" %}

{% block title %}Activation Complete{% endblock title %}

{% block content %}
<p>Congratulations, you have successfully activated your account! Try logging in with your new username and password. However, you'll find that you can't do much with the dashboard quite yet. Give us an hour or so to connect your profile with your projects. If you have any questions or issues, please send an email to <a href="mailto:mark.micchelli@mssm.edu">mark.micchelli@mssm.edu</a>.</p>
{% endblock content %}
